package gherkinexecutor.Feature_Optional_Tests;
import java.util.*;
import static org.junit.jupiter.api.Assertions.*;
import java.util.List;

class Feature_Optional_Tests_glue {
    final String DNCString = "?DNC?";


    void Given_This_will_always_be_run(){
        System.out.println("---  " + "Given_This_will_always_be_run");
        fail("Must implement");
    }

    void Given_This_may_be_run(){
        System.out.println("---  " + "Given_This_may_be_run");
        fail("Must implement");
    }

    void Given_This_will_be_run_if_tag(){
        System.out.println("---  " + "Given_This_will_be_run_if_tag");
        fail("Must implement");
    }

    }
