package gherkinexecutor.Feature_Data_Definition;
import java.util.*;
import static org.junit.jupiter.api.Assertions.*;
import java.util.List;

class Feature_Data_Definition_glue {
    final String DNCString = "?DNC?";


    void Given_table_is(List<ATest> values ) {
        System.out.println("---  " + "Given_table_is");
        for (ATest value : values){
             System.out.println(value);
             // Add calls to production code and asserts
              ATestInternal i = value.toATestInternal();
              }
        fail("Must implement");
    }

    void When_compared_to(List<ATest> values ) {
        System.out.println("---  " + "When_compared_to");
        for (ATest value : values){
             System.out.println(value);
             // Add calls to production code and asserts
              ATestInternal i = value.toATestInternal();
              }
        fail("Must implement");
    }

    void Then_result_is(List<List<String>> values ) {
        System.out.println("---  " + "Then_result_is");
        for (List<String> value : values){
             System.out.println(value);
             // Add calls to production code and asserts
              }
        fail("Must implement");
    }

    }
