package gherkinexecutor.Feature_Data_Definition;
import java.util.*;
import static org.junit.Assert.fail;
import static org.junit.jupiter.api.Assertions.assertEquals;
import java.util.List;
import java.io.FileWriter;
import java.io.IOException;

class Feature_Data_Definition_glue {
void log(String value) {
    try {
        FileWriter myLog = new FileWriter("src/test/java/gherkinexecutor/Feature_Data_Definition/log.txt", true);
        myLog.write(value + "\n");
        myLog.close();
    } catch (IOException e) {
    System.err.println("*** Cannot write to log ");
    }
    }


    void Given_table_is(List<ATest> values ) {
        System.out.println("---  " + "Given_table_is");
        log("---  " + "Given_table_is");
        log(values.toString());
        for (ATest value : values){
           System.out.println(value);
              }
    }

    void When_compared_to(List<ATest> values ) {
        System.out.println("---  " + "When_compared_to");
        log("---  " + "When_compared_to");
        log(values.toString());
        for (ATest value : values){
           System.out.println(value);
              }
    }

    void Then_result_is(List<List<String>> values ) {
        System.out.println("---  " + "Then_result_is");
        log("---  " + "Then_result_is");
        log(values.toString());
        for (List<String> value : values){
           System.out.println(value);
              }
    }

    }
