package gherkinexecutor.Feature_Parse_CSV;
import java.util.*;
import java.util.regex.Pattern;
import java.math.BigInteger;
import java.util.regex.Pattern;
import java.math.BigInteger;
 import static org.junit.jupiter.api.Assertions.*;
import java.util.List;

class Feature_Parse_CSV_glue {
    final String DNCString = "?DNC?";


    void Given(String value ) {
        System.out.println("---  " + "Given");
        System.out.println(value);
        fail("Must implement");
    }

    void When_converted_result_is(String value ) {
        System.out.println("---  " + "When_converted_result_is");
        System.out.println(value);
        fail("Must implement");
    }

    void Given_input_table(List<List<String>> values ) {
        System.out.println("---  " + "Given_input_table");
        for (List<String> value : values){
           System.out.println(value);
             // TODO: Add calls to production code and asserts
              }
        fail("Must implement");
    }

    void When_transposed_result_is(List<List<String>> values ) {
        System.out.println("---  " + "When_transposed_result_is");
        for (List<String> value : values){
           System.out.println(value);
             // TODO: Add calls to production code and asserts
              }
        fail("Must implement");
    }

    }
