package gherkinexecutor.Feature_Simple_Test;
class ATest{
    String anInt = "0";
    String aString = " ";
    String aDouble = "1.2";
    public ATest(
        String anInt
        ,String aString
        ,String aDouble
        ){
        this.anInt = anInt;
        this.aString = aString;
        this.aDouble = aDouble;
        }
    public static class Builder {
        private String anInt = "0";
        private String aString = " ";
        private String aDouble = "1.2";
        public Builder anInt(String anInt) {
            this.anInt = anInt;
            return this;
            }
        public Builder aString(String aString) {
            this.aString = aString;
            return this;
            }
        public Builder aDouble(String aDouble) {
            this.aDouble = aDouble;
            return this;
            }
        public ATest build(){
             return new ATest(
                 anInt
                 ,aString
                 ,aDouble
                );   } 
        } 
    @Override
    public String toString() {
        return "ATest {"
        +"anInt = "anInt 
        +"aString = "aString 
        +"aDouble = "aDouble 
            ;}  
    }
 {
    ATestInternal toATestInternal() : ATestInternal{
        return ATestInternal(
        anInt.toInt(),
        aString.toString(),
        aDouble.toDouble(),
        ) }
    }
