package gherkinexecutor.Feature_Data_Types;
import java.util.*;
import java.util.regex.Pattern;
import java.math.BigInteger;
 import static org.junit.jupiter.api.Assertions.*;
import java.util.List;

class Feature_Data_Types_glue {
    final String DNCString = "?DNC?";


    void Given_type_values_are(List<AllTypes> values ) {
        System.out.println("---  " + "Given_type_values_are");
        for (AllTypes value : values){
           System.out.println(value);
             // TODO: Add calls to production code and asserts
                try {
                AllTypesInternal i = value.toAllTypesInternal();
                  System.out.println(i);
                      }
                     catch(IllegalArgumentException e){
                         System.err.println("Argument Error " + value.toString() + AllTypesInternal.toDataTypeString());
                         }
              }
        fail("Must implement");
    }

    }
