package gherkinexecutor.Feature_Data_Types;
import java.util.*;
import static org.junit.jupiter.api.Assertions.*;
import java.util.List;

class Feature_Data_Types_glue {
    final String DNCString = "?DNC?";


    void Given_type_values_are(List<AllTypes> values ) {
        System.out.println("---  " + "Given_type_values_are");
        for (AllTypes value : values){
             System.out.println(value);
             // Add calls to production code and asserts
              AllTypesInternal i = value.toAllTypesInternal();
              }
    }

    }
