package gherkinexecutor.Feature_Data_Types;
import java.util.*;
import static org.junit.jupiter.api.Assertions.*;
import java.util.List;

class Feature_Data_Types_glue {
    final String DNCString = "?DNC?";


    void Given_type_values_are(List<SomeTypes> values ) {
        System.out.println("---  " + "Given_type_values_are");
        for (SomeTypes value : values){
             System.out.println(value);
             // Add calls to production code and asserts
              SomeTypesInternal i = value.toSomeTypesInternal();
              }
        fail("Must implement");
    }

    void Then_this_should_be_equal(List<SomeTypes> values ) {
        System.out.println("---  " + "Then_this_should_be_equal");
        for (SomeTypes value : values){
             System.out.println(value);
             // Add calls to production code and asserts
              SomeTypesInternal i = value.toSomeTypesInternal();
              }
        fail("Must implement");
    }

    }
