package gherkinexecutor.Feature_Simple_Test
import kotlin.test.fail

class Feature_Simple_Test_glue {

    fun Given_table_is( value : List<ATest>) {
        println("*******")
        println(value)
        fail("Must implement")
    }

    }
