package gherkinexecutor.Feature_Examples;
import java.util.*;
import java.util.regex.Pattern;
import java.math.BigInteger;
 import static org.junit.jupiter.api.Assertions.*;
import java.util.List;

class Feature_Examples_glue {
    final String DNCString = "?DNC?";


    void Calculation_Convert_F_to_C(List<TemperatureCalculation> values ) {
        System.out.println("---  " + "Calculation_Convert_F_to_C");
        for (TemperatureCalculation value : values){
           System.out.println(value);
             // TODO: Add calls to production code and asserts
                try {
                TemperatureCalculationInternal i = value.toTemperatureCalculationInternal();
                  System.out.println(i);
                      }
                     catch(IllegalArgumentException e){
                         System.err.println("Argument Error " + value.toString() + TemperatureCalculationInternal.toDataTypeString());
                         }
              }
        fail("Must implement");
    }

    void Rule_ID_must_have_exactly_5_letters_and_begin_with_Q(List<ValueValid> values ) {
        System.out.println("---  " + "Rule_ID_must_have_exactly_5_letters_and_begin_with_Q");
        for (ValueValid value : values){
           System.out.println(value);
             // TODO: Add calls to production code and asserts
                try {
                ValueValidInternal i = value.toValueValidInternal();
                  System.out.println(i);
                      }
                     catch(IllegalArgumentException e){
                         System.err.println("Argument Error " + value.toString() + ValueValidInternal.toDataTypeString());
                         }
              }
        fail("Must implement");
    }

    void Given_list_of_numbers(List<LabelValue> values ) {
        System.out.println("---  " + "Given_list_of_numbers");
        for (LabelValue value : values){
           System.out.println(value);
             // TODO: Add calls to production code and asserts
                try {
                LabelValueInternal i = value.toLabelValueInternal();
                  System.out.println(i);
                      }
                     catch(IllegalArgumentException e){
                         System.err.println("Argument Error " + value.toString() + LabelValueInternal.toDataTypeString());
                         }
              }
        fail("Must implement");
    }

    void When_filtered_by_Label_with_value(List<List<String>> values ) {
        System.out.println("---  " + "When_filtered_by_Label_with_value");
        for (List<String> value : values){
           System.out.println(value);
             // TODO: Add calls to production code and asserts
              }
        fail("Must implement");
    }

    void Then_sum_is(List<List<String>> values ) {
        System.out.println("---  " + "Then_sum_is");
        for (List<String> value : values){
           System.out.println(value);
             // TODO: Add calls to production code and asserts
              }
        fail("Must implement");
    }

    void When_filtered_by(List<FilterValue> values ) {
        System.out.println("---  " + "When_filtered_by");
        for (FilterValue value : values){
           System.out.println(value);
             // TODO: Add calls to production code and asserts
                try {
                FilterValueInternal i = value.toFilterValueInternal();
                  System.out.println(i);
                      }
                     catch(IllegalArgumentException e){
                         System.err.println("Argument Error " + value.toString() + FilterValueInternal.toDataTypeString());
                         }
              }
        fail("Must implement");
    }

    void Then_result(List<ResultValue> values ) {
        System.out.println("---  " + "Then_result");
        for (ResultValue value : values){
           System.out.println(value);
             // TODO: Add calls to production code and asserts
                try {
                ResultValueInternal i = value.toResultValueInternal();
                  System.out.println(i);
                      }
                     catch(IllegalArgumentException e){
                         System.err.println("Argument Error " + value.toString() + ResultValueInternal.toDataTypeString());
                         }
              }
        fail("Must implement");
    }

    }
