package gherkinexecutor.Feature_Import;
import java.util.*;
import java.util.regex.Pattern;
import java.math.BigInteger;
import static org.junit.jupiter.api.Assertions.*;
import java.util.List;

class Feature_Import_glue {
    final String DNCString = "?DNC?";


    void Given_this_data_should_be_okay(List<ImportData> values ) {
        System.out.println("---  " + "Given_this_data_should_be_okay");
        for (ImportData value : values){
             System.out.println(value);
             // Add calls to production code and asserts
              ImportDataInternal i = value.toImportDataInternal();
              }
        fail("Must implement");
    }

    void Given_this_data_should_fail(List<ImportData> values ) {
        System.out.println("---  " + "Given_this_data_should_fail");
        for (ImportData value : values){
             System.out.println(value);
             // Add calls to production code and asserts
              ImportDataInternal i = value.toImportDataInternal();
              }
        fail("Must implement");
    }

    }
