package gherkinexecutor.Feature_Import;
import java.util.*;
import java.net.URL;
import java.util.regex.Pattern;
import java.math.BigInteger;
 import static org.junit.jupiter.api.Assertions.*;
import java.util.List;

class Feature_Import_glue {


    void Given_this_data(List<Imports> values ) {
        System.out.println("---  " + "Given_this_data");
        for (Imports value : values){
           System.out.println(value);
                try {
                ImportsInternal i = value.toImportsInternal();
                  System.out.println(i);
                      }
                     catch(Exception e){
                         System.err.println("Argument Error " + value.toString() + ImportsInternal.toDataTypeString());
                         }
              }
        fail("Must implement");
    }

    void Given_this_data_should_fail(List<Imports> values ) {
        System.out.println("---  " + "Given_this_data_should_fail");
        for (Imports value : values){
           System.out.println(value);
                try {
                ImportsInternal i = value.toImportsInternal();
                  System.out.println(i);
                      }
                     catch(Exception e){
                         System.err.println("Argument Error " + value.toString() + ImportsInternal.toDataTypeString());
                         }
              }
        fail("Must implement");
    }

    }
